<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
      <h4 class="ui inverted center aligned header">TicketSwapper removes the risk of user-to-user ticket exchanges. Once an a agreement has been made TicketSwapper handles the transaction and ensures both users receive their side of the deal.</h4>
    </div>
  </div>
</div>
<div class="ui vertical feature segment">
  <div class="ui centered page grid">
    <div class="sixteen wide column">
      <h3 class="ui header">How it works:</h3>
      <div class="ui three column centered stackable divided grid">
        <div class="column">
          <p>Users list their available tickets.</p>
          <p>Site visitors, and other users view available tickets.</p>
          <p> A user that wants a set of tickets contacts the ticket lister by sending an email to: iwanttickets@ticketswapper.com</p>
          <p>TicketSwapper forwards the inquiry to the Lister. The Lister then responds directly to the inquirer via email.</p>
        </div>
        <div class="column">
          <p>Once an agreement is made, the users forward the agreement to service@ticketswapper.com and transfer the tickets to service@ticketswapper.com.</p>
          <p>TicketSwapper receives each users transfers, and verifies that the tickets match the agreement.</p>
          <p>Before accepting the transfer user-to-TicketSwapper transfer, TicketSwapper verifies the tickets match those described in the agreement. Once TicketSwapper verifies the tickets match the agreement, TicketSwapper accepts the user-to-TicketSwapper transfers.</p>
        </div>
        <div class="column">
          <p>Once both sets of tickets are in TicketSwappers account, TicketSwapper completes the transaction by transferring the tickets to the new owner.</p>
          <p> In the event that one side transfers their side of the agreement but the other user fails to make their transfer to TicketSwapper, TicketSwapper will reject the sent users transfer-to-TicketSwapper so the user retains ownership of the tickets.</p>
        </div>
      </div>
    </div>
  </div>
</div>
