<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
      <h4 class="ui inverted center aligned header">TicketSwapper removes the risk of user-to-user ticket exchanges. Once an a agreement is reached TicketSwapper handles the transaction and makes sure that both users receive their side.</h4>
    </div>
  </div>
</div>
<div class="ui vertical feature segment">
  <div class="ui centered page grid">
    <div class="sixteen wide column">
      <h3 class="ui header">How it works:</h3>
      <div class="ui three column centered stackable divided grid">
        <div class="column">
          <p>Users list their available tickets.</p>
          <p>Site visitors, and other users view available tickets.</p>
          <p> A user that wants a set of tickets contacts the ticket lister by sending an email to: iwanttickets@ticketswapper.com</p>
          <p>TicketSwapper forwards the inquiry to the Lister. The Lister then responds directly to the inquirer via email.</p>
        </div>
        <div class="column">
          <p>Once an agreement is made, the users forward the agreement to service@ticketswapper.com and transfer the tickets to service@ticketswapper.com.</p>
          <p>TicketSwapper receives each users transfers, and verifies that the tickets match the agreement.</p>
          <p>TicketSwapper does not accept transfers from either party until both transfers have arrived and are verified.</p>
        </div>
        <div class="column">
          <p>Once TicketSnapper has successfuly accepted both sets of user-to-TicketSwapper transfers, TicketSwapper transfers each set of tickets to the new owner, and the transaction is complete.</p>
          <p> In the event that a user fails to transfer tickets to TicketSwapepr, TicketSwapper will not accept the other users transfer and will notify the user.</p>
        </div>
      </div>
    </div>
  </div>
</div>
