<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <div class="header item">TicketSwapper</div>
        <div class="right menu">
          <a href="/tickets" class="item">View Tickets</a>
          <a href="/tickets/new" class="item">Add Tickets</a>
        </div>
      </div>
      <h5 class="ui inverted center aligned header">Removing the risk of user-to-user ticket exchanges.</h5>
    </div>
  </div>
</div>
<div class="ui vertical segment">
  <div class="ui centered page grid">
    <h3 class="ui left aligned header">How it works:</h3>
    <div class="fifteen wide column">
      <div class="ui three column centered divided stackable grid">
        <div class="column">
          <p> Users list available tickets.</p>
          <p>Site visitors, and other users view available tickets.</p>
          <p> Users contact the ticket lister, by sending an email to: iwanttickets@ticketswapper.com </p>
          <p>TicketSwapper forwards to the Lister. The Lister responds directly to the inquirer via email.</p>
        </div>
        <div class="column">
          <p>Once an agreement is made, users forward the agreement to service@ticketswapper.com and transfer the tickets to service@ticketswapper.com.</p>
          <p>TicketSwapper receives each users transfers, and verifies that the tickets match the agreement.</p>
          <p>TicketSwapper does not accept transfers from either party until both transfers have arrived and are verified.</p>
        </div>
        <div class="column">
          <p>Once TicketSnapper has accepted both user-to-TicketSwapper transfers, TicketSwapper transfers each set of tickets to the new owner, and the transaction is complete.</p>
          <p> In the event that a user fails to transfer tickets to TicketSwapepr, TicketSwapper will not accept the other users transfer and will notify the user.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted vertical segment">
  <div class="ui page centered grid">
    <div class="fourteen wide column">
      <div class="ui two column stackable centered grid">
        <div class="column">
          <h3 class="ui blue center aligned header">What types of tickets work?</h3>
          <p>Most tickets purchased on Ticketmaster, or livenation are transferrable. Tickets for some Eventbrite events are also transferrable depending on whether the event organizer enabled the feature or not. Many college sporting events are also transferrable.</p>
          <p>TicketSwapper does not accept tickets by mail or physical tickets, to process transactions tickets must be electronically transferable. Send specific questions to service@ticketswapper.com. </p>
        </div>
        <div class="column">
          <h3 class="ui blue center aligned header">How do I check if my tickets are transferrable?</h3>
          <p> For Ticketmaster or livenation events log into the account you purchased your tickets. Visit the view all orders page, and look for the Transfer button to the right of the red My Tickets button.</p>
          TicketSwapper does not accept tickets by mail and does not allow transactions involving users mailing tickets to eachother.</p>
        </div>
      </div>
    </div>
  </div>
</div>