<% provide(:title, 'Payment') %>

<div class="ui page centered padded grid">
  <div class="fourteen wide column">
    <h2 class="ui header">Pay Service Fee</h2>
    <p>SwapStubs requires a $5.00 service charge for processing and servicing your transaction.</p>
    <p>Submit Service charge after receiving User Agreement Approval email from service@swapstubs.com.</p>
    <p>Payment of service fee authorizes SwapStub to verify your tickets, and process each users transfer of tickets. Service charge is non refundable.</p>
    <div class="ui center aligned segment">

      <%= form_tag payments_path do %>
        <article>
          <label class="amount">
            <span>Amount: $5.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Service Fee"
                data-amount="500">
        </script>
      <% end %>

    </div>
  </div>
</div>
